<h1>Se connecter</h1>

<p class="descr">Veuillez remplir entièrement ce formulaire et le valider pour vous connecter.</p>
<?php
$form->setAttribute('action', $this->url('default', array('action' => 'form')));
$form->prepare();

echo $this->form()->openTag($form);
// echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('pseudo'));
echo "<br/>";
echo $this->formRow($form->get('mdp'));
echo "<br/>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
