<div class="jumbotron">
    <h1>Bienvenue sur FileUpDo</h1>
    <p>Gèrez votre propre espace de stockage en ligne. Vous pouvez uploader des fichiers sur votre compte, les organiser comme vous le souhaitez et par la suite les télécharger. La taille de l'espace de stockage est variable en fonction de la formule.</p>
</div>