<?php
$title = 'S\'inscrire';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p class="descr">Veuillez remplir entièrement ce formulaire et le valider pour vous inscrire.</p>
<?php
$form->setAttribute('action', $this->url('inscription', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
// echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('pseudo'));
echo "<br/>";
echo $this->formRow($form->get('mdp'));
echo "<br/>";
echo "Formule :";
echo "<br/>";
echo $this->formRow($form->get('codeformule'));
echo "<br/>";
echo $this->formRow($form->get('captcha'));
echo "<br/>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
