<ul class="nav navbar-nav">
    <li><a href="<?php echo $this->url('home') ?>">Accueil</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="<?php echo $this->url('inscription') ?>">Inscription</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="<?php echo $this->url('connection') ?>">Connection</a></li>
</ul>